*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$height: 18rem;


$white:#ffffff;
$grey: #b9b8b8;
$black:#000000;

$margin-size: 1rem;

$font-family: 'Parisienne', cursive;
$font-weigh:500;
$font-size-footer: 0.8rem;

$min-height: 160px
