.header-logo{
    width: 100px;
    margin: $margin-size;
}

.info-section {
    min-height: min-height;
    margin: $margin-size;
}

.info-section p{
    margin-bottom: 0;
}

.element-content{
    margin: $margin-size;
}