/*** INSTALACIONES ***/

.instalaciones-container{
    margin-top: $margin-size;
    margin-bottom: $margin-size * 2;
}

.instalaciones-text-form{
    margin-top: $margin-size;
    margin-bottom: $margin-size;
    padding-left: 3rem;
    padding-right: 3rem;
    font{
        size: 1rem;
    }
    li{
        margin-left:2rem ;
    }

}
