/*** QUIENES SOMOS ***/

.nosotros-container{
    margin-top: $margin-size;
    margin-bottom: $margin-size * 2;
}

.profile-text-form{
    margin-top: $margin-size;
    margin-bottom: $margin-size;
    padding-left: 3rem;
    padding-right: 3rem;
    font{
        size: 1rem;
    }

}

.mision-vision-title-form{
    padding-left: 3rem;
    padding-right: 3rem;
}